.col-md-8 {
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 100%;
  display: inline-grid;
  align-items: center;
}

.mt-5 {
  margin-top: 5% !important;
  position: absolute;
  right: 85px;
}

body {
  background-image: url("/assets/images/hotel-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
