<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
      <meta name="viewport"
            content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>

<body>
      <div class="spinner"
           *ngIf="!hotelInfo">
            <app-spinner></app-spinner>
      </div>

      <div class="center">
            <app-hotel-info-presentational [hotelInfoList]="hotelInfoList"
                                           [hotelInfo]="hotelInfo"></app-hotel-info-presentational>
      </div>

</body>

</html>